In [2]:
# 판다스 라이브러리
import pandas as pd

# 데이터 불러오기
train = pd.read_csv('./train.csv')
test = pd.read_csv('./test.csv')

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0,15674932,Okwudilichukwu,668,France,Male,33.0,3,0.00,2,1.0,0.0,181449.97,0
1,1,15749177,Okwudiliolisa,627,France,Male,33.0,1,0.00,2,1.0,1.0,49503.50,0
2,2,15694510,Hsueh,678,France,Male,40.0,10,0.00,2,1.0,0.0,184866.69,0
3,3,15741417,Kao,581,France,Male,34.0,2,148882.54,1,1.0,1.0,84560.88,0
4,4,15766172,Chiemenam,716,Spain,Male,33.0,5,0.00,2,1.0,1.0,15068.83,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165029,165029,15667085,Meng,667,Spain,Female,33.0,2,0.00,1,1.0,1.0,131834.75,0
165030,165030,15665521,Okechukwu,792,France,Male,35.0,3,0.00,1,0.0,0.0,131834.45,0
165031,165031,15664752,Hsia,565,France,Male,31.0,5,0.00,1,1.0,1.0,127429.56,0
165032,165032,15689614,Hsiung,554,Spain,Female,30.0,7,161533.00,1,0.0,1.0,71173.03,0
165033,165033,15732798,Ulyanov,850,France,Male,31.0,1,0.00,1,1.0,0.0,61581.79,1

In [ ]:
'''
라이브러리 불러오기
결측치 -> 채우기(all)
이상치 -> age > 0

train -> y_train 분리
train,test 레이블 인코딩
y-train 인코딩(0,1)

train test split
결과 예측
'''

# 탐색적 데이터 분석 (EDA)

In [5]:
#---------------------------
# 데이터 샘플 확인
#---------------------------
train.head()
# 데이터 앞에서 5개 확인
train.tail(5)
# 데이터 뒤에서 5개 확인
train.sample(5)
# 데이터 랜덤 샘플 5개 확인

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
58935,58935,15718779,Onio,628,France,Female,35.0,8,145081.56,1,1.0,0.0,156429.92,1
60448,60448,15745455,Palerma,710,France,Male,27.0,2,132558.26,1,1.0,0.0,120852.85,0
155932,155932,15746662,Nwankwo,488,Spain,Male,33.0,6,0.00,2,1.0,1.0,447.71,0
82001,82001,15728693,McWilliams,574,France,Male,37.0,2,141349.43,2,1.0,1.0,100187.43,0
45940,45940,15703588,Uvarov,685,France,Male,52.0,1,0.00,1,1.0,0.0,162865.35,1

In [7]:
#---------------------------
# 데이터 크기 확인
#---------------------------
print(train.shape,test.shape)
# 데이터의 컬럼과 로우 개수 확인

(165034, 14) (110023, 13)

In [9]:
#---------------------------
# 자료형 타입 확인하기
#---------------------------
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165034 entries, 0 to 165033
Data columns (total 14 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               165034 non-null  int64
 1   CustomerId       165034 non-null  int64
 2   Surname          165034 non-null  object
 3   CreditScore      165034 non-null  int64
 4   Geography        165034 non-null  object
 5   Gender           165034 non-null  object
 6   Age              165034 non-null  float64
 7   Tenure           165034 non-null  int64
 8   Balance          165034 non-null  float64
 9   NumOfProducts    165034 non-null  int64
 10  HasCrCard        165034 non-null  float64
 11  IsActiveMember   165034 non-null  float64
 12  EstimatedSalary  165034 non-null  float64
 13  Exited           165034 non-null  int64
dtypes: float64(5), int64(6), object(3)
memory usage: 17.6+ MB

In [13]:
#---------------------------
# 수치형 컬럼 통계값 확인(train)
#---------------------------
train.describe()

,id,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,165034.0000,1.650340e+05,165034.000000,165034.000000,165034.000000,165034.000000,165034.000000,165034.000000,165034.000000,165034.000000,165034.000000
mean,82516.5000,1.569201e+07,656.454373,38.125888,5.020353,55478.086689,1.554455,0.753954,0.497770,112574.822734,0.211599
std,47641.3565,7.139782e+04,80.103340,8.867205,2.806159,62817.663278,0.547154,0.430707,0.499997,50292.865585,0.408443
min,0.0000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.000000,0.000000,11.580000,0.000000
25%,41258.2500,1.563314e+07,597.000000,32.000000,3.000000,0.000000,1.000000,1.000000,0.000000,74637.570000,0.000000
50%,82516.5000,1.569017e+07,659.000000,37.000000,5.000000,0.000000,2.000000,1.000000,0.000000,117948.000000,0.000000
75%,123774.7500,1.575682e+07,710.000000,42.000000,7.000000,119939.517500,2.000000,1.000000,1.000000,155152.467500,0.000000
max,165033.0000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.000000,1.000000,199992.480000,1.000000

In [14]:
#---------------------------
# 수치형 컬럼 통계값 확인(test)
#---------------------------
test.describe()

,id,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
count,110023.000000,1.100230e+05,110023.000000,110023.000000,110023.000000,110023.000000,110023.000000,110023.000000,110023.000000,110023.000000
mean,220045.000000,1.569210e+07,656.530789,38.122205,4.996637,55333.611354,1.553321,0.753043,0.495233,112315.147765
std,31761.048671,7.168499e+04,80.315415,8.861550,2.806148,62788.519675,0.544714,0.431244,0.499980,50277.048244
min,165034.000000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.000000,0.000000,11.580000
25%,192539.500000,1.563286e+07,597.000000,32.000000,3.000000,0.000000,1.000000,1.000000,0.000000,74440.325000
50%,220045.000000,1.569018e+07,660.000000,37.000000,5.000000,0.000000,2.000000,1.000000,0.000000,117832.230000
75%,247550.500000,1.575693e+07,710.000000,42.000000,7.000000,120145.605000,2.000000,1.000000,1.000000,154631.350000
max,275056.000000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.000000,1.000000,199992.480000

In [16]:
#---------------------------
# 범주형 컬럼 통계값 확인(train)
#---------------------------
train.describe(include='O')

       Surname Geography  Gender
count   165034    165034  165034
unique    2797         3       2
top       Hsia    France    Male
freq      2456     94215   93150

In [17]:
#---------------------------
# 범주형 컬럼 통계값 확인(test)
#---------------------------
test.describe(include='object')

       Surname Geography  Gender
count   110023    110023  110023
unique    2708         3       2
top       Hsia    France    Male
freq      1606     63171   61942

In [19]:
# 비교를 위한 원본 데이터 불러오기
origin_train = pd.read_csv('train.csv')
origin_test = pd.read_csv('test.csv')

In [34]:
#---------------------------
# 결측치 확인 train
#---------------------------
train.isnull().sum()
# -> 각 컬럼별 결측치 개수 [ 전부 0 ]

# train.isnull().sum().sum()
# -> 전체 결측치 합계

# (train.isnull().sum() / len(train)) * 100
# -> 전체 행 대비 결측치 비율

# train.columns[train.isnull().any()]
# -> 결측치가 있는 컬럼만 출력

id                 0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [31]:
#---------------------------
# 결측치 확인 test
#---------------------------
test.isnull().sum()
# -> 각 컬럼별 결측치 개수 [ 전부 0 ]

# test.isnull().sum().sum()
# -> 전체 결측치 합계

# (test.isnull().sum() / len(train)) * 100
# -> 전체 행 대비 결측치 비율

# test.columns[train.isnull().any()]
# -> 결측치가 있는 컬럼만 출력

id                 0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
dtype: int64

In [44]:
#---------------------------
# label(target)별 개수 확인 (정답값확인)
#---------------------------
train['Exited'].value_counts()

Exited
0    130113
1     34921
Name: count, dtype: int64

# 이상치 처리

In [32]:
#---------------------------
# 이상치확인
#---------------------------
train.describe()

,id,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,165034.0000,1.650340e+05,165034.000000,165034.000000,165034.000000,165034.000000,165034.000000,165034.000000,165034.000000,165034.000000,165034.000000
mean,82516.5000,1.569201e+07,656.454373,38.125888,5.020353,55478.086689,1.554455,0.753954,0.497770,112574.822734,0.211599
std,47641.3565,7.139782e+04,80.103340,8.867205,2.806159,62817.663278,0.547154,0.430707,0.499997,50292.865585,0.408443
min,0.0000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.000000,0.000000,11.580000,0.000000
25%,41258.2500,1.563314e+07,597.000000,32.000000,3.000000,0.000000,1.000000,1.000000,0.000000,74637.570000,0.000000
50%,82516.5000,1.569017e+07,659.000000,37.000000,5.000000,0.000000,2.000000,1.000000,0.000000,117948.000000,0.000000
75%,123774.7500,1.575682e+07,710.000000,42.000000,7.000000,119939.517500,2.000000,1.000000,1.000000,155152.467500,0.000000
max,165033.0000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.000000,1.000000,199992.480000,1.000000

In [ ]:
# CustomerID: 고객 고유 식별자
# Surname: 고객 성(Last name)
# CreditScore: 신용 점수(숫자)
# Geography: 거주 국가(France/Spain/Germany)
# Gender: 성별(Male/Female)
# Age: 나이
# Tenure: 은행 이용 기간(연수)
# Balance: 계좌 잔액
# NumOfProducts: 이용 중인 은행 상품 수(예: 예금, 카드 등)
# HasCrCard: 신용카드 보유 여부(1=예, 0=아니오)
# IsActiveMember: 활성 회원 여부(1=예, 0=아니오)
# EstimatedSalary: 추정 급여(연봉)
# Exited: 이탈 여부(1=이탈, 0=유지) (대회 타깃 변수)

In [54]:
#---------------------
# 인코딩[범주형 -> 수치형]
#---------------------
# 라벨(정답,y값) 분리
# y_train = train.pop("Exited")
# 한번 적용 후 값이 사라져서 오류남 주석처리
train.shape , test.shape
# 컬럼 수 일치

((165034, 13), (110023, 13))

In [56]:
#----------
# 라벨인코딩
#----------
from sklearn.preprocessing import LabelEncoder

cols = train.columns[train.dtypes == object]

for col in cols:
    le = LabelEncoder()
    le.fit(pd.concat([train[col],test[col]] ,axis=0)) # 행합치기
    train[col] = le.fit_transform(train[col])
    test[col] = le.transform(test[col])

train.head()

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,0,15674932,1924,668,0,1,33.0,3,0.00,2,1.0,0.0,181449.97
1,1,15749177,1925,627,0,1,33.0,1,0.00,2,1.0,1.0,49503.50
2,2,15694510,1178,678,0,1,40.0,10,0.00,2,1.0,0.0,184866.69
3,3,15741417,1299,581,0,1,34.0,2,148882.54,1,1.0,1.0,84560.88
4,4,15766172,467,716,2,1,33.0,5,0.00,2,1.0,1.0,15068.83

In [57]:
#----------
# y 인코딩
#----------
y_train.value_counts()

Exited
0    130113
1     34921
Name: count, dtype: int64

In [58]:
#---------------------------------------
# 검증 데이터 분할
#---------------------------------------
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(train,
                                                  y_train,
                                                  test_size=0.2,
                                                  random_state=0)
X_train.shape, X_val.shape, y_train.shape, y_val.shape

((132027, 13), (33007, 13), (132027,), (33007,))

In [63]:
#---------------------------------------
# 모델 학습
#---------------------------------------

# 랜덤포레스트
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(random_state=0)
rf.fit(X_train, y_train)
pred1 = rf.predict_proba(X_val)  
pred1_label = rf.predict_proba(X_val)  

# LightGBM
import lightgbm as lgb
lgbmc = lgb.LGBMClassifier(random_state=0, verbose=-1)
lgbmc.fit(X_train, y_train)
pred2 = lgbmc.predict_proba(X_val)
pred2_label = lgbmc.predict_proba(X_val)

In [60]:
print(pred1)
print()
print(pred2)

[[0.89 0.11]
 [0.79 0.21]
 [0.25 0.75]
 ...
 [0.72 0.28]
 [0.95 0.05]
 [0.64 0.36]]

[[0.93557193 0.06442807]
 [0.85472683 0.14527317]
 [0.31276707 0.68723293]
 ...
 [0.76088266 0.23911734]
 [0.97977723 0.02022277]
 [0.69042406 0.30957594]]

In [61]:
# 전체범위에서 이탈확률만 확인
print(pred1[:1])
print()
print(pred2[:1])

[[0.89 0.11]]

[[0.93557193 0.06442807]]

In [64]:
#---------------------------------------
# RANDOM FOREST 성능 평가
#---------------------------------------
from sklearn.metrics import roc_auc_score
roc_auc = roc_auc_score(y_val, pred1[:,1])
print('roc_auc:', roc_auc)

from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_val, pred1_label)
print('accuracy_score:', accuracy)

from sklearn.metrics import f1_score
f1 = f1_score(y_val, pred1_label, pos_label=1)
print('f1_score:', f1)

roc_auc: 0.8801525772952798

ValueError: Classification metrics can't handle a mix of binary and continuous-multioutput targets

In [ ]:
#---------------------------------------
# LIGHTGBM 성능 평가
#---------------------------------------
from sklearn.metrics import roc_auc_score
roc_auc_lgbm = roc_auc_score(y_val, pred2[:,1])
print('roc_auc:', roc_auc_lgbm)

from sklearn.metrics import accuracy_score
accuracy_lgbm = accuracy_score(y_val, pred2_label)
print('accuracy_score:', accuracy_lgbm)

from sklearn.metrics import f1_score
f1_lgbm = f1_score(y_val, pred2_label, pos_label=1)
print('f1_score:', f1_lgbm)

In [ ]:
#---------------------------------------
# 파일로 저장
#---------------------------------------

In [65]:
pred = lgbmc.predict_proba(test)
pred

# lgbmc.classes_

# submit = pd.DataFrame({'pred':pred[:,1]})
# submit.to_csv("result.csv", index=False)

# pd.read_csv("result.csv")

ValueError: pandas dtypes must be int, float or bool.
Fields with bad pandas dtypes: Surname: object