In [7]:
# ======================================
# 문제 정의
# ======================================
# 주어진 제품 및 매장 특성들을 (X값,컬럼) 기반으로 판매 금액(Item_Outlet_Sales)을 예측하기

In [2]:
# ======================================
# 라이브러리 및 데이터 불러오기
# ======================================
import pandas as pd
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
# train = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part2/ch4/train.csv")
# test = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part2/ch4/test.csv")

In [ ]:
# ======================================
# EDA
# ======================================

In [10]:
# train.head()
# train.tail()
train.sample(5)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
2202,NCD42,16.500,Low Fat,0.012627,Health and Hygiene,38.7506,OUT013,1987,High,Tier 3,Supermarket Type1,759.0120
1300,FDV34,10.695,Regular,0.011443,Snack Foods,73.5038,OUT049,1999,Medium,Tier 1,Supermarket Type1,1478.0760
638,FDS28,8.180,reg,0.082530,Frozen Foods,56.9588,OUT049,1999,Medium,Tier 1,Supermarket Type1,744.3644
655,FDG56,13.300,Regular,0.071857,Fruits and Vegetables,63.2536,OUT017,2007,NaN,Tier 2,Supermarket Type1,1347.5792
5705,FDN49,17.250,Regular,0.209600,Breakfast,40.3480,OUT010,1998,NaN,Tier 3,Grocery Store,39.9480

In [2]:
train

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,NCR06,12.500,Low Fat,0.006760,Household,42.8112,OUT013,1987,High,Tier 3,Supermarket Type1,639.1680
1,FDW11,12.600,Low Fat,0.048741,Breads,60.4194,OUT013,1987,High,Tier 3,Supermarket Type1,990.7104
2,FDH32,12.800,Low Fat,0.075997,Fruits and Vegetables,97.1410,OUT013,1987,High,Tier 3,Supermarket Type1,2799.6890
3,FDL52,6.635,Regular,0.046351,Frozen Foods,37.4506,OUT017,2007,NaN,Tier 2,Supermarket Type1,1176.4686
4,FDO09,13.500,Regular,0.125170,Snack Foods,261.4910,OUT013,1987,High,Tier 3,Supermarket Type1,3418.8830
...,...,...,...,...,...,...,...,...,...,...,...,...
6813,NCC54,17.750,Low Fat,0.097863,Health and Hygiene,239.3196,OUT049,1999,Medium,Tier 1,Supermarket Type1,3615.2940
6814,NCF19,13.000,Low Fat,0.035252,Household,48.0034,OUT018,2009,Medium,Tier 3,Supermarket Type2,923.4646
6815,FDU11,4.785,Low Fat,0.092576,Breads,121.0098,OUT035,2004,Small,Tier 2,Supermarket Type1,2530.7058
6816,FDK14,6.980,Low Fat,0.041189,Canned,82.8934,OUT045,2002,NaN,Tier 2,Supermarket Type1,818.9340
6817,NCD31,NaN,Low Fat,0.015360,Household,163.7526,OUT027,1985,Medium,Tier 3,Supermarket Type3,1973.4312

In [3]:
test

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDO38,17.250,Low Fat,0.073251,Canned,76.4986,OUT017,2007,NaN,Tier 2,Supermarket Type1
1,FDO32,6.360,Low Fat,0.120544,Fruits and Vegetables,45.8060,OUT046,1997,Small,Tier 1,Supermarket Type1
2,FDT14,10.695,Regular,0.128247,Dairy,121.8440,OUT018,2009,Medium,Tier 3,Supermarket Type2
3,FDG50,7.405,Low Fat,0.015296,Canned,89.7146,OUT049,1999,Medium,Tier 1,Supermarket Type1
4,FDR11,10.500,Regular,0.142760,Breads,159.3578,OUT049,1999,Medium,Tier 1,Supermarket Type1
...,...,...,...,...,...,...,...,...,...,...,...
1700,NCU18,NaN,Low Fat,0.097769,Household,142.4496,OUT019,1985,Small,Tier 1,Grocery Store
1701,FDY02,NaN,Regular,0.153457,Dairy,264.0910,OUT019,1985,Small,Tier 1,Grocery Store
1702,FDI09,20.750,Regular,0.129864,Seafood,240.1880,OUT018,2009,Medium,Tier 3,Supermarket Type2
1703,DRH23,14.650,Low Fat,0.171282,Hard Drinks,54.0614,OUT017,2007,NaN,Tier 2,Supermarket Type1
1704,NCB18,19.600,Low Fat,0.041291,Household,86.9514,OUT046,1997,Small,Tier 1,Supermarket Type1

In [4]:
train.shape , test.shape

((6818, 12), (1705, 11))

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6818 entries, 0 to 6817
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            6818 non-null   object
 1   Item_Weight                5656 non-null   float64
 2   Item_Fat_Content           6818 non-null   object
 3   Item_Visibility            6818 non-null   float64
 4   Item_Type                  6818 non-null   object
 5   Item_MRP                   6818 non-null   float64
 6   Outlet_Identifier          6818 non-null   object
 7   Outlet_Establishment_Year  6818 non-null   int64
 8   Outlet_Size                4878 non-null   object
 9   Outlet_Location_Type       6818 non-null   object
 10  Outlet_Type                6818 non-null   object
 11  Item_Outlet_Sales          6818 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 639.3+ KB

In [6]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1705 entries, 0 to 1704
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            1705 non-null   object
 1   Item_Weight                1404 non-null   float64
 2   Item_Fat_Content           1705 non-null   object
 3   Item_Visibility            1705 non-null   float64
 4   Item_Type                  1705 non-null   object
 5   Item_MRP                   1705 non-null   float64
 6   Outlet_Identifier          1705 non-null   object
 7   Outlet_Establishment_Year  1705 non-null   int64
 8   Outlet_Size                1235 non-null   object
 9   Outlet_Location_Type       1705 non-null   object
 10  Outlet_Type                1705 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 146.7+ KB

In [12]:
train.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,5656.000000,6818.000000,6818.000000,6818.000000,6818.000000
mean,12.872703,0.066121,140.419533,1997.885890,2190.941459
std,4.651034,0.051383,62.067861,8.339795,1706.131256
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.785000,0.026914,93.610050,1987.000000,836.577700
50%,12.600000,0.053799,142.448300,1999.000000,1806.648300
75%,17.000000,0.095273,185.060150,2004.000000,3115.944000
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [13]:
test.describe()

       Item_Weight  Item_Visibility     Item_MRP  Outlet_Establishment_Year
count  1404.000000      1705.000000  1705.000000                1705.000000
mean     12.796984         0.066174   143.285107                1997.615836
std       4.613957         0.052465    63.063146                   8.497423
min       4.555000         0.000000    31.955800                1985.000000
25%       8.710000         0.027571    94.743600                1987.000000
50%      12.600000         0.054234   144.512800                1999.000000
75%      16.700000         0.092927   187.755600                2004.000000
max      21.350000         0.311090   266.888400                2009.000000

In [14]:
train.describe(include='O')

,Item_Identifier,Item_Fat_Content,Item_Type,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type
count,6818,6818,6818,6818,4878,6818,6818
unique,1554,5,16,10,3,3,4
top,FDO19,Low Fat,Snack Foods,OUT046,Medium,Tier 3,Supermarket Type1
freq,9,4092,963,763,2228,2664,4474

In [20]:
train.isnull().sum().sum()

3102

In [19]:
test.isnull().sum().sum()

771

In [21]:
# ======================================
# 데이터 전처리
# ======================================

In [3]:
# y값 분할
# target = train.pop('Item_Outlet_Sales')
target

0        639.1680
1        990.7104
2       2799.6890
3       1176.4686
4       3418.8830
          ...
6813    3615.2940
6814     923.4646
6815    2530.7058
6816     818.9340
6817    1973.4312
Name: Item_Outlet_Sales, Length: 6818, dtype: float64

In [4]:
# 결측값 채우기 ( 무게 : 최소값 , 사이즈 : 평균값 )
train.describe()
# train['Item_Weight'] = train['Item_Weight'].fillna(최소값) Item_Weight를 최소값으로 채워주기 
train['Item_Weight'] = train['Item_Weight'].fillna(train['Item_Weight'].min()) 
train['Outlet_Size'] = train['Outlet_Size'].fillna(train['Outlet_Size'].mode()[0]) 

train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6818 entries, 0 to 6817
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            6818 non-null   object
 1   Item_Weight                6818 non-null   float64
 2   Item_Fat_Content           6818 non-null   object
 3   Item_Visibility            6818 non-null   float64
 4   Item_Type                  6818 non-null   object
 5   Item_MRP                   6818 non-null   float64
 6   Outlet_Identifier          6818 non-null   object
 7   Outlet_Establishment_Year  6818 non-null   int64
 8   Outlet_Size                6818 non-null   object
 9   Outlet_Location_Type       6818 non-null   object
 10  Outlet_Type                6818 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 586.1+ KB

In [5]:
train.describe(include='O')
train['Outlet_Size'].mode()

0    Medium
Name: Outlet_Size, dtype: object

In [6]:
test.isnull().sum()

Item_Identifier                0
Item_Weight                  301
Item_Fat_Content               0
Item_Visibility                0
Item_Type                      0
Item_MRP                       0
Outlet_Identifier              0
Outlet_Establishment_Year      0
Outlet_Size                  470
Outlet_Location_Type           0
Outlet_Type                    0
dtype: int64

In [7]:
test['Item_Weight'] = test['Item_Weight'].fillna(test['Item_Weight'].min()) 
test['Outlet_Size'] = test['Outlet_Size'].fillna(test['Outlet_Size'].mode()[0])

In [8]:
test.describe(include='O')
test['Outlet_Size'].mode()

0    Medium
Name: Outlet_Size, dtype: object

In [9]:
test.describe()

       Item_Weight  Item_Visibility     Item_MRP  Outlet_Establishment_Year
count  1705.000000      1705.000000  1705.000000                1705.000000
mean     11.341947         0.066174   143.285107                1997.615836
std       5.235376         0.052465    63.063146                   8.497423
min       4.555000         0.000000    31.955800                1985.000000
25%       6.420000         0.027571    94.743600                1987.000000
50%      11.000000         0.054234   144.512800                1999.000000
75%      15.850000         0.092927   187.755600                2004.000000
max      21.350000         0.311090   266.888400                2009.000000

In [10]:
train.describe()

       Item_Weight  Item_Visibility     Item_MRP  Outlet_Establishment_Year
count  6818.000000      6818.000000  6818.000000                6818.000000
mean     11.455107         0.066121   140.419533                1997.885890
std       5.265718         0.051383    62.067861                   8.339795
min       4.555000         0.000000    31.290000                1985.000000
25%       6.690000         0.026914    93.610050                1987.000000
50%      11.000000         0.053799   142.448300                1999.000000
75%      16.100000         0.095273   185.060150                2004.000000
max      21.350000         0.328391   266.888400                2009.000000

In [ ]:
# 이상치 생략

In [ ]:
# LABEL 인코딩-------------------------------------------------------------------

In [11]:
# 레이블 인코딩

from sklearn.preprocessing import LabelEncoder

cols = train.columns[train.dtypes == object]

for col in cols:
    le = LabelEncoder()
    le.fit(pd.concat([train[col],test[col]] ,axis=0)) # 행합치기
    train[col] = le.transform(train[col])
    test[col] = le.transform(test[col])

In [17]:
train

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,1467,12.500,1,0.006760,9,42.8112,1,1987,0,2,1
1,1075,12.600,1,0.048741,1,60.4194,1,1987,0,2,1
2,450,12.800,1,0.075997,6,97.1410,1,1987,0,2,1
3,613,6.635,2,0.046351,5,37.4506,2,2007,1,1,1
4,695,13.500,2,0.125170,13,261.4910,1,1987,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...
6813,1292,17.750,1,0.097863,8,239.3196,9,1999,1,0,1
6814,1317,13.000,1,0.035252,9,48.0034,3,2009,1,2,2
6815,975,4.785,1,0.092576,1,121.0098,6,2004,2,1,1
6816,549,6.980,1,0.041189,3,82.8934,7,2002,1,1,1
6817,1299,4.555,1,0.015360,9,163.7526,5,1985,1,2,3

In [18]:
test

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,717,17.250,1,0.073251,3,76.4986,2,2007,1,1,1
1,712,6.360,1,0.120544,6,45.8060,8,1997,2,0,1
2,928,10.695,2,0.128247,4,121.8440,3,2009,1,2,2
3,423,7.405,1,0.015296,3,89.7146,9,1999,1,0,1
4,828,10.500,2,0.142760,1,159.3578,9,1999,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...
1700,1502,4.555,1,0.097769,9,142.4496,4,1985,2,0,0
1701,1168,4.555,2,0.153457,4,264.0910,4,1985,2,0,0
1702,474,20.750,2,0.129864,12,240.1880,3,2009,1,2,2
1703,69,14.650,1,0.171282,7,54.0614,2,2007,1,1,1
1704,1276,19.600,1,0.041291,9,86.9514,8,1997,2,0,1

In [ ]:
# 컬럼 제거

In [12]:
# tarin.drop('컬럼명',방향axis=0(행)1(컬럼), inplace=True)
train.drop('Item_Identifier',axis=1, inplace=True)
test.drop('Item_Identifier',axis=1, inplace=True)

In [21]:
train

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,12.500,1,0.006760,9,42.8112,1,1987,0,2,1
1,12.600,1,0.048741,1,60.4194,1,1987,0,2,1
2,12.800,1,0.075997,6,97.1410,1,1987,0,2,1
3,6.635,2,0.046351,5,37.4506,2,2007,1,1,1
4,13.500,2,0.125170,13,261.4910,1,1987,0,2,1
...,...,...,...,...,...,...,...,...,...,...
6813,17.750,1,0.097863,8,239.3196,9,1999,1,0,1
6814,13.000,1,0.035252,9,48.0034,3,2009,1,2,2
6815,4.785,1,0.092576,1,121.0098,6,2004,2,1,1
6816,6.980,1,0.041189,3,82.8934,7,2002,1,1,1
6817,4.555,1,0.015360,9,163.7526,5,1985,1,2,3

In [22]:
test

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,17.250,1,0.073251,3,76.4986,2,2007,1,1,1
1,6.360,1,0.120544,6,45.8060,8,1997,2,0,1
2,10.695,2,0.128247,4,121.8440,3,2009,1,2,2
3,7.405,1,0.015296,3,89.7146,9,1999,1,0,1
4,10.500,2,0.142760,1,159.3578,9,1999,1,0,1
...,...,...,...,...,...,...,...,...,...,...
1700,4.555,1,0.097769,9,142.4496,4,1985,2,0,0
1701,4.555,2,0.153457,4,264.0910,4,1985,2,0,0
1702,20.750,2,0.129864,12,240.1880,3,2009,1,2,2
1703,14.650,1,0.171282,7,54.0614,2,2007,1,1,1
1704,19.600,1,0.041291,9,86.9514,8,1997,2,0,1

In [ ]:
# ======================================
# 검증 데이터 분할 (train 데이터와 - val 데이터를 (8,2) 8대2로)
# ======================================

In [13]:
from sklearn.model_selection import train_test_split

X_train,X_val,y_train,y_val = train_test_split(
    train,
    target,
    test_size=0.2,
    random_state=0
)
X_train.shape,X_val.shape,y_train.shape,y_val.shape

((5454, 10), (1364, 10), (5454,), (1364,))

In [14]:
# ======================================
# 학습 및 평가 (MSE , MAE , R2.....)
# ======================================

In [15]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression() # 모델 가져오기
lr.fit(X_train, y_train) #학습
y_pred = lr.predict(X_val) #예측
y_pred

array([3006.53001011, 1386.35244112, 1610.9644381 , ..., 2265.01933974,
       4071.18108208, 3489.44301098])

In [16]:
# 평가 =====================================================================

In [17]:
from sklearn.metrics import mean_squared_error #MSE (평균 제곱 오차)
from sklearn.metrics import mean_absolute_error #MAE (평균 절대 오차)
from sklearn.metrics import root_mean_squared_error #RMSE (제곱 평균 오차 루트 )
from sklearn.metrics import r2_score #R2Score (결정계수)

lr_mse = mean_squared_error(y_val, y_pred)
lr_mae = mean_absolute_error(y_val, y_pred)
lr_rmse = root_mean_squared_error(y_val , y_pred)
lr_r2 = r2_score(y_val , y_pred)

print("MSE : " , lr_mse) # 오차를 제곱해 평균을 낸 값 - 값 클수록 예측이 실제와 다름
print("MAE : " , lr_mae) # 오차를 절대값으로 계산 - 값 클수록 예측이 실제와 다름
print("RMSE : " , lr_rmse)
print("R2 : " , lr_r2)

# MSE / MAE / RMSE 상대적인 기준
# 평균적으로 Y 평균값의 10% 이하 : 준수한 성능
# 평균적으로 Y 평균값의 10-30%   : 보통 성능
# 평균적으로 Y 평균값의 30% 이상 : 낮은 성능
# Ex) 시험점수 (0-100) 예측 ->RMSE = 10 - 문제가 있음
# Ex) 아파트 가격 (30평 - 평균 5억) 예측 -> RMSE=1000만원(2%) -> 오차작음 )괜찮은 모델)

# R2( 결정계수 )
# 0.7 - 이상 : 좋은 모델
# 0.5 - 0.7 : 보통
# 0.3 - 0.5 : 낮은 모델

MSE :  1258220.3398377183
MAE :  858.9613052108202
RMSE :  1121.7042122759985
R2 :  0.5153323554636462

In [18]:
# LIGHTGBM 학습

In [22]:
import lightgbm as lgb
model = lgb.LGBMRegressor(random_state=0,verbose=-1)
model.fit(X_train, y_train)
y_pred_2 = model.predict(X_val)
y_pred_2

array([2983.84439509, 1212.23600204, 2302.55390985, ..., 2006.27151483,
       4741.85000463, 4010.89935397])

In [23]:
lgm_mse = mean_squared_error(y_val, y_pred_2)
lgm_mae = mean_absolute_error(y_val, y_pred_2)
lgm_rmse = root_mean_squared_error(y_val , y_pred_2)
lgm_r2 = r2_score(y_val , y_pred_2)

print("MSE : " , lgm_mse) # 오차를 제곱해 평균을 낸 값 - 값 클수록 예측이 실제와 다름
print("MAE : " , lgm_mae) # 오차를 절대값으로 계산 - 값 클수록 예측이 실제와 다름
print("RMSE : " , lgm_rmse)
print("R2 : " , lgm_r2)

MSE :  1111526.442702285
MAE :  732.8448115843846
RMSE :  1054.289544054329
R2 :  0.571838981005607

In [ ]:
# --------------------------------
# 상관계수 확인
# --------------------------------

In [33]:
# 임계값 조절
TARGET_CORR_TH = 0.03 # 상관계수 임계값

# 숫자형 기준으로 상관계수 계산
df_corr = train.copy()
df_corr['__target__'] = y_train
corr_with_target = df_corr.corr(numeric_only=True)['__target__'].drop('__target__')
corr_with_target
# 타겟과 나머지간 상관관계 확인 drop(__target__) == 자기자신은 제거 후 비교

# 유지할 컬럼(= 타깃과의 절대 상관이 임계값 이상인 컬럼만 추출)
kepp_features = corr_with_target [ corr_with_target.abs() >= TARGET_CORR_TH ].index.tolist()
kepp_features

# 제거할 컬럼
problem_features = corr_with_target [ corr_with_target.abs() < TARGET_CORR_TH ].index.tolist()
problem_features

['Item_Fat_Content', 'Item_Type']

In [36]:
# --------------------------------
# 컬럼제거
# --------------------------------

train.drop('Item_Fat_Content',axis=1,inplace=True)
train.drop('Item_Type',axis=1,inplace=True)

test.drop('Item_Fat_Content',axis=1,inplace=True)
test.drop('Item_Type',axis=1,inplace=True)

In [37]:
# --------------------------------
# 확인
# -------------------------------- 
train.shape,test.shape

((6818, 8), (1705, 8))

In [38]:
from sklearn.model_selection import train_test_split

X_train_re,X_val_re,y_train_re,y_val_re = train_test_split(
    train,
    target,
    test_size=0.2,
    random_state=0
)
X_train_re.shape,X_val_re.shape,y_train_re.shape,y_val_re.shape

((5454, 8), (1364, 8), (5454,), (1364,))

In [39]:
import lightgbm as lgb
model = lgb.LGBMRegressor(random_state=0,verbose=-1)
model.fit(X_train_re, y_train_re)
y_pred_2_re = model.predict(X_val_re)
y_pred_2_re

array([2661.21892949, 1142.12172216, 2046.00747682, ..., 2066.62331858,
       4277.85387718, 4515.69649643])

In [40]:
lgm_mse_re = mean_squared_error(y_val_re, y_pred_2_re)
lgm_mae_re = mean_absolute_error(y_val_re, y_pred_2_re)
lgm_rmse_re = root_mean_squared_error(y_val_re , y_pred_2_re)
lgm_r2_re = r2_score(y_val_re , y_pred_2_re)

print("MSE : " , lgm_mse_re) # 오차를 제곱해 평균을 낸 값 - 값 클수록 예측이 실제와 다름
print("MAE : " , lgm_mae_re) # 오차를 절대값으로 계산 - 값 클수록 예측이 실제와 다름
print("RMSE : " , lgm_rmse_re)
print("R2 : " , lgm_r2_re)

MSE :  1108334.9408928182
MAE :  736.8110133347378
RMSE :  1052.7748766440136
R2 :  0.5730683504694064