In [1]:


import pandas as pd

df = pd.DataFrame({
    "메뉴": ['아메리카노', '카페라떼', '카페모카', '카푸치노', '에스프레소', '밀크티', '녹차'],
    "가격": [4500, 5000, 5500, 5000, 4000, 5900, 5300],
    "칼로리": [10, 110, 250, 110, 20, 210, 0],
})
# 확인: df
df

      메뉴    가격  칼로리
0  아메리카노  4500   10
1   카페라떼  5000  110
2   카페모카  5500  250
3   카푸치노  5000  110
4  에스프레소  4000   20
5    밀크티  5900  210
6     녹차  5300    0

In [5]:
# 2-1) 인덱스 포함 저장
# df.to_csv("cafe_index.csv") # xml파일로 저장됨
temp = pd.read_csv("cafe_index.csv") # 해당 파일 불러오기
# 확인: temp.head()
temp.head()

   Unnamed: 0     메뉴    가격  칼로리
0           0  아메리카노  4500   10
1           1   카페라떼  5000  110
2           2   카페모카  5500  250
3           3   카푸치노  5000  110
4           4  에스프레소  4000   20

In [11]:
# 2-2) 인덱스 제외 저장
# df.to_csv("cafe.csv", index=False)
df2 = pd.read_csv("cafe.csv")
# 확인: df2.head()
df2.head()

      메뉴    가격  칼로리
0  아메리카노  4500   10
1   카페라떼  5000  110
2   카페모카  5500  250
3   카푸치노  5000  110
4  에스프레소  4000   20

In [13]:
# 2-3) 구분자(세미콜론) 지정
# df.to_csv("cafe_semicolon.csv", sep=";", index=False)
df3 = pd.read_csv("cafe_semicolon.csv", sep=";")
# 확인: df3.head()
df3.head()

      메뉴    가격  칼로리
0  아메리카노  4500   10
1   카페라떼  5000  110
2   카페모카  5500  250
3   카푸치노  5000  110
4  에스프레소  4000   20

In [14]:
# 2-4) 특정 컬럼만 저장
df.to_csv("cafe_menu_price.csv", columns=["메뉴", "가격"], index=False)
# 확인: pd.read_csv("cafe_menu_price.csv").head()
df4 = pd.read_csv("cafe_menu_price.csv").head()
df4

      메뉴    가격
0  아메리카노  4500
1   카페라떼  5000
2   카페모카  5500
3   카푸치노  5000
4  에스프레소  4000

In [15]:
# 2-5) 인코딩 옵션 (한글 깨짐 방지)
df.to_csv("cafe_utf8.csv", index=False, encoding="utf-8-sig")
# 윈도우 환경에서 한글을 Excel로 열 경우 utf-8-sig 권장

In [16]:
# 3) Excel 파일 저장/불러오기
# 3-1) Excel로 저장
df.to_excel("cafe.xlsx", index=False, sheet_name="메뉴판")

In [17]:
# 3-2) Excel 불러오기
df_xls = pd.read_excel("cafe.xlsx", sheet_name="메뉴판")
# 확인: df_xls.head()

In [18]:
# 4) JSON 파일 저장/불러오기
# 4-1) JSON으로 저장
df.to_json("cafe.json", orient="records", force_ascii=False)

In [19]:
# 4-2) JSON 불러오기
df_json = pd.read_json("cafe.json")
# 확인: df_json.head()
df_json.head()

      메뉴    가격  칼로리
0  아메리카노  4500   10
1   카페라떼  5000  110
2   카페모카  5500  250
3   카푸치노  5000  110
4  에스프레소  4000   20

In [52]:
# 5) Pickle 파일 (Pandas 전용 포맷)
# 5-1) 저장
df.to_pickle("cafe.pkl")

In [53]:
# 5-2) 불러오기
df_pkl = pd.read_pickle("cafe.pkl")
# 확인: df_pkl.head()
df_pkl.head()

      메뉴    가격  칼로리
0  아메리카노  4500   10
1   카페라떼  5000  110
2   카페모카  5500  250
3   카푸치노  5000  110
4  에스프레소  4000   20

In [24]:
# 6) 다양한 옵션 연습
# 6-1) 헤더 제거하고 저장
df.to_csv("cafe_noheader.csv", index=False, header=False)

In [ ]:
# 6-2) 불러올 때 첫 번째 행을 헤더로 사용하지 않음
df_noheader = pd.read_csv("cafe_noheader.csv", header=None)
# 확인: df_noheader.head()

In [ ]:
# 6-3) 특정 컬럼을 인덱스로 저장 후 불러오기
df.to_csv("cafe_index_menu.csv", index=False)
df_indexed = pd.read_csv("cafe_index_menu.csv", index_col="메뉴")
# 확인: df_indexed.head()

In [ ]:
# 7) 요약
# to_csv() / read_csv() → 가장 기본적인 저장/불러오기
# to_excel() / read_excel() → Excel 파일 지원
# to_json() / read_json() → JSON 저장/불러오기
# to_pickle() / read_pickle() → 빠른 Pandas 전용 포맷
# 옵션: index, header, sep, encoding, columns, index_col

In [ ]:
# 중요 문제 9 10 11 13

In [26]:
# 문제 1) CSV 기본 저장/불러오기
# DataFrame df를 cafe_basic.csv로 저장하고,
# 이를 다시 읽어 df_basic에 담으시오. (인덱스 포함)

df.to_csv("cafe_basic.csv")
df_basic = pd.read_csv("cafe_basic.csv")

In [29]:
# 문제 2) 인덱스 제외 저장
# df를 인덱스 없이 cafe_no_index.csv로 저장하고,
# 읽어온 DataFrame을 df_no_index로 두시오.

df.to_csv("cafe_no_index.csv",index=False)
df_no_index = pd.read_csv("cafe_no_index.csv")

In [31]:
# 문제 3) 특정 컬럼만 저장
# 메뉴, 가격 컬럼만
# cafe_menu_price.csv로 저장하시오. 인덱스는 제외.
df.to_csv("cafe_menu_price.csv",columns=['메뉴','가격'] ,
          index=False)

In [35]:
# 문제 4) 구분자 변경
# 세미콜론(;) 구분자로 cafe_sc.csv를 저장하고,
# 같은 구분자로 읽어 df_sc에 담으시오.
df.to_csv("cafe_sc.csv",sep=";",index=False)
df_sc = pd.read_csv("cafe_sc.csv",sep=";")
df_sc

      메뉴    가격  칼로리
0  아메리카노  4500   10
1   카페라떼  5000  110
2   카페모카  5500  250
3   카푸치노  5000  110
4  에스프레소  4000   20
5    밀크티  5900  210
6     녹차  5300    0

In [36]:
# 문제 5) 인코딩 지정
# Windows Excel에서 한글이 깨지지 않도록
# utf-8-sig 인코딩으로 cafe_utf8.csv를 저장하시오.
df.to_csv("cafe_utf8.csv",index=False,encoding="utf-8-sig")

In [38]:
# 문제 6) 헤더 없이 저장하고 헤더 없이 읽기
# 헤더 없이 cafe_noheader.csv로 저장한 뒤,
# header=None으로 읽어 df_noheader로 저장하시오.
df_named = pd.read_csv("cafe_noheader.csv",
                       header=None,
                       names=['메뉴', '가격', '칼로리'])

In [48]:
# 문제 7) 헤더 없이 읽되 컬럼명 지정
# 문제 6에서 저장한 cafe_noheader.csv를 읽되,
# 컬럼명을 ['메뉴', '가격', '칼로리']로 지정하여
# df_named로 저장하시오.
df_named = pd.read_csv("cafe_noheader.csv",
                       header=None,
                       names=['메뉴','가격','칼로리'])
df_named

      메뉴    가격  칼로리
0  아메리카노  4500   10
1   카페라떼  5000  110
2   카페모카  5500  250
3   카푸치노  5000  110
4  에스프레소  4000   20
5    밀크티  5900  210
6     녹차  5300    0

In [ ]:
# 문제 8) 특정 컬럼을 인덱스로 지정해 읽기
# cafe.csv(인덱스 없이 저장된 파일)를 읽으면서
# 메뉴 컬럼을 인덱스로 사용하도록 df_idx를 만드시오.
df_idx = pd.read_csv("cafe.csv", index_col="메뉴")

In [ ]:
# 문제 9) 자료형 지정하여 읽기
# cafe.csv를 읽을 때 가격을 int,
# 칼로리를 float로 지정해 df_types로 저장하시오.

In [1]:


import pandas as pd

df = pd.DataFrame({
    "메뉴": ['아메리카노', '카페라떼', '카페모카', '카푸치노', '에스프레소', '밀크티', '녹차'],
    "가격": ["4500", "NA", "5500", "5000", "-", "5900", "-"],
    "칼로리": [10, 110, 250, 110, 20, 210, 0],
})
# 확인: df
df

      메뉴    가격  칼로리
0  아메리카노  4500   10
1   카페라떼    NA  110
2   카페모카  5500  250
3   카푸치노  5000  110
4  에스프레소     -   20
5    밀크티  5900  210
6     녹차     -    0

In [6]:
# df.to_csv("cafe_test.csv")
cafe_test_df = pd.read_csv("cafe_test.csv",na_values = ["NA","-"] )
cafe_test_df

   Unnamed: 0     메뉴      가격  칼로리
0           0  아메리카노  4500.0   10
1           1   카페라떼     NaN  110
2           2   카페모카  5500.0  250
3           3   카푸치노  5000.0  110
4           4  에스프레소     NaN   20
5           5    밀크티  5900.0  210
6           6     녹차     NaN    0

In [5]:
# df_types = pd.read_csv("cafe.csv",
#                        dtype={"가격": "int64",
#                               "칼로리": "float64"})
df["가격"] = df["가격"].astype("int64")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   메뉴      7 non-null      object
 1   가격      7 non-null      int64
 2   칼로리     7 non-null      int64
dtypes: int64(2), object(1)
memory usage: 300.0+ bytes

In [2]:
# 문제 10) 결측치 기호 지정
# cafe.csv를 읽을 때 문자열 'NA'와 '-'를
# 결측치로 인식해 df_na로 저장하시오.
# 결측치 == 빈 값
df_na = pd.read_csv("cafe.csv", na_values=["NA", "-"])
df_na

      메뉴    가격  칼로리
0  아메리카노  4500   10
1   카페라떼  5000  110
2   카페모카  5500  250
3   카푸치노  5000  110
4  에스프레소  4000   20
5    밀크티  5900  210
6     녹차  5300    0

In [ ]:
# 문제 11) CSV 압축 저장/불러오기 (gzip)
# df를 gzip으로 압축하여 cafe.csv.gz로 저장하고,
# 이를 다시 읽어 df_gz로 저장하시오.
df.to_csv("cafe.csv.gz", index=False, compression="gzip")
df_gz = pd.read_csv("cafe.csv.gz", compression="gzip")

In [ ]:
# 문제 12) Excel 저장(시트 이름 지정)
# df를 cafe_book.xlsx에 sheet_name="메뉴판"으로 저장하시오.
df.to_excel("cafe_book.xlsx", index=False, sheet_name="메뉴판")

In [2]:
# 문제 13) Excel 다중 시트 저장
# pd.ExcelWriter를 사용해 cafe_multi.xlsx에

# 시트1: 전체에 df
# 시트2: 저칼로리에 칼로리 100 이하 행만 을 각각 저장하시오.
with pd.ExcelWriter("cafe_multi.xlsx") as writer:
    print(writer)
    df.to_excel(writer, sheet_name="전체", index=False)
    low_cal = df[df["칼로리"] <= 100]
    low_cal.to_excel(writer, sheet_name="저칼로리", index=False)
    #칼로리값이 100 이하인 경우 엑셀파일 저칼로리 시트로 등록
    #with를 쓰면 자원제거가 알아서 된다 (writer close 안 해줘도 된다)

<pandas.io.excel._openpyxl.OpenpyxlWriter object at 0x7b460e01cbd0>