In [24]:
import pandas as pd
menu = pd.Series(['비빔밥', '김치찌개', '된장찌개'])
price = pd.Series([10000, 9000, 8000])
# 확인: menu
# 확인: price
#하나만 출력되기 때문에 display 함수를 사용해야 한다
display(menu,price)
# print(menu) 가능
print()
print(menu)
print(price)

0     비빔밥
1    김치찌개
2    된장찌개
dtype: object

0    10000
1     9000
2     8000
dtype: int64

0     비빔밥
1    김치찌개
2    된장찌개
dtype: object
0    10000
1     9000
2     8000
dtype: int64

In [25]:
# 코드블럭별로 실행됨
df_from_series = pd.DataFrame({
    '메뉴': menu,
    '가격': price
})
# 확인: df_from_series
df_from_series

     메뉴     가격
0   비빔밥  10000
1  김치찌개   9000
2  된장찌개   8000

In [26]:
df = pd.DataFrame({
    '메뉴': ['비빔밥', '김치찌개', '된장찌개'],
    '가격': [10000, 9000, 8000],
    '원산지': ['국내산', '국내산', '국내산']
})
# 확인: df
df

     메뉴     가격  원산지
0   비빔밥  10000  국내산
1  김치찌개   9000  국내산
2  된장찌개   8000  국내산

In [27]:
#4-1) 단일 컬럼 → Series
menu_series = df['메뉴']     # 타입: pandas.Series
# 확인: menu_series, type(menu_series)
menu_series

0     비빔밥
1    김치찌개
2    된장찌개
Name: 메뉴, dtype: object

In [28]:
#4-2) 단일 컬럼을 DataFrame으로
menu_df = df[['메뉴']]       # 타입: pandas.DataFrame
# 확인: menu_df, type(menu_df)
menu_df
# type(menu_df)

     메뉴
0   비빔밥
1  김치찌개
2  된장찌개

In [29]:
# 4-3) 여러 컬럼 선택
menu_price_df = df[['메뉴', '가격']]
# 확인: menu_price_df
menu_price_df

     메뉴     가격
0   비빔밥  10000
1  김치찌개   9000
2  된장찌개   8000

In [30]:
# 4-4) 컬럼 리스트를 변수로 관리해 선택
print('df          : ', type(df))
print("df['가격']   : ", type(df['가격']))     # Series
print("df[['가격']] : ", type(df[['가격']]))   # DataFrame

df          :  <class 'pandas.core.frame.DataFrame'>
df['가격']   :  <class 'pandas.core.series.Series'>
df[['가격']] :  <class 'pandas.core.frame.DataFrame'>

In [31]:
#(선택) 6) 추가 기초 — 행 선택 맛보기
#6-1) `loc` (레이블 기반)

# 첫 번째 행(인덱스 0) 전체
row0 = df.loc[0:0]
# df
row0
# 인덱스 0~1 범위(끝 포함)
# rows_0_to_1 = df.loc[0:1]
# rows_0_to_1

# 조건식: 가격이 9000 이상인 행
rows_price_ge_9000 = df.loc[df['가격'] >= 9000, ['메뉴', '가격']]
df['가격']
rows_price_ge_9000

     메뉴     가격
0   비빔밥  10000
1  김치찌개   9000

In [32]:
#6-2) `iloc` (정수 위치 기반)
# 첫 번째 행(정수 위치 0)
# row0_iloc = df.iloc[0]
# row0_iloc

# 첫 2행(0,1)과 앞의 2개 컬럼(0,1)
sub_iloc = df.iloc[0:2, 0:2]
sub_iloc

     메뉴     가격
0   비빔밥  10000
1  김치찌개   9000

In [33]:
#7-1) 새 컬럼 추가
# 예: 10% 할인 가격 컬럼 추가
df['할인가'] = (df['가격'] * 0.9).astype(int)

In [34]:
#7-2) 값 수정
# 예: '김치찌개' 가격 9500으로 변경
# df.loc[df['메뉴'] == '김치찌개', '가격'] = 9500
df

     메뉴     가격  원산지   할인가
0   비빔밥  10000  국내산  9000
1  김치찌개   9000  국내산  8100
2  된장찌개   8000  국내산  7200

In [35]:
#7-3) 컬럼 삭제
# 예: '할인가' 컬럼 삭제
df = df.drop(columns=['할인가'])
df

     메뉴     가격  원산지
0   비빔밥  10000  국내산
1  김치찌개   9000  국내산
2  된장찌개   8000  국내산

In [ ]:
# 아래는 Series, DataFrame, loc, iloc 등을 연습하는 미니 문제입니다.
# 각 문제의 정답은 <details><summary>
# 정답 보기</summary>...</details> 안에 숨겨져 있습니다.
# 코드는 결과를 출력하지 않도록 작성되어 있습니다.

In [37]:
# 문제 1) Series 만들기
# 다음 과일 이름으로 pd.Series를 만들어 fruits 변수에 저장하시오
# : ['사과', '바나나', '포도']
import pandas as pd
fruits = pd.Series(['사과','바나나','포도'])
fruits

0     사과
1    바나나
2     포도
dtype: object

In [41]:
# 문제 2) DataFrame 만들기 (리스트로 생성)
# 다음 데이터를 이용해 아래와 같은 컬럼을 가진 df를 생성하시오.

# 컬럼: 상품, 가격, 재고
# 데이터:
# 상품: ['키보드', '마우스', '모니터']
# 가격: [30000, 15000, 200000]
# 재고: [10, 25, 7]
df = pd.DataFrame({
        '상품':['키보드','마우스','모니터'],
        '가격':[30000,15000,200000],
        '재고':[10,25,7]
})
df

    상품      가격  재고
0  키보드   30000  10
1  마우스   15000  25
2  모니터  200000   7

In [48]:
# 문제 3) 단일 컬럼 선택 (Series vs DataFrame)
# 문제 2에서 만든 df로부터 상품 컬럼을 (1) Series로,
# (2) DataFrame으로 각각 선택해 prod_s, prod_df에 저장하시오.
prod_s = df['상품']
prod_s
prod_df = df[['상품']]
prod_df

    상품
0  키보드
1  마우스
2  모니터

In [60]:
# 문제 4) 여러 컬럼 선택
# 문제 2의 df에서 상품과 가격 컬럼만 선택하여
# price_view 변수에 저장하시오.
price_view = df[['상품','가격']]
price_view

    상품      가격
0  키보드   30000
1  마우스   15000
2  모니터  200000

In [ ]:
# 문제 5) loc로 조건 필터링
# 문제 2의 df에서 가격이 20000 이상인 행만 loc로 필터링하여
# expensive에 저장하시오.
# 단, 컬럼은 상품, 가격만 선택하시오.
expensive = df.loc[df['가격'] >=20000 ['상품','가격']]